<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Acerca</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/about">Acerca</a></li>
          <li><a href="/works">Serviços</a></li>
          <ul>
        </nav>


    <div>
        <div class="box-about">
            <p>Nascido em 2010 de mãe solteira, obteve sucesso como animal de estimação apesar das suas origens humildes.</p>
            <img src="./img/fotos (3).jpg" alt="Photo of a cat">
            <img src="./img/fotos (9).jpg" alt="Photo of a cat">
            <img src="./img/fotos (10).jpg" alt="Photo of a cat">
        </div>

        <div class="box-about">
            <p>Em 2014 foi castrado cirurgicamente, contra a sua vontade, tendo melhorado muito o seu temperamento com outras pessoas que não o dono.</p>
            <img src="./img/fotos (11).jpg" alt="Photo of a cat">
            <img src="./img/fotos (5).jpg" alt="Photo of a cat">
            <img src="./img/fotos (6).jpg" alt="Photo of a cat">
        </div>

        <div class="box-about">
            <p>Apto a conviver com outros animais de estimação – gatos, cães, pássaros e hamsters – porém prefere viver sozinho.</p>
            <img src="./img/fotos (12).jpg" alt="Photo of a cat">
            <img src="./img/fotos (7).jpg" alt="Photo of a cat">
            <img src="./img/fotos (8).jpg" alt="Photo of a cat">
            <p>Nos seus tempos livres gosta de comer, dormir e cair para o quintal dos vizinhos.</p>
        </div>
    
    </div>
    
</body>
</html>