<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Experiência profissional</title>
</head>
<body>
    <h1>Experiência Profissional</h1>
    <div class= 'top-div'>
    <div class="box">
        <h2>Apresentação de eventos</h2>
            <ul>
                <li>Lançamento de produtos</li>
                <li>Festas de fim de ano</li>
                <li>Funerais*</li>
                <p>*não inclui o morto</p>
            </ul>
    </div>

    <div class="box">
        <h2>Líder Espiritual</h2>
            <ul>
                <li>Ajuda a encontrar nosso Senhor</li>
                <li>Ajuda a encontrar nossa Senhora*</li>
                <li>Apoio na criação de macumbas</li>
                <p>*não inclui o escadote</p>
            </ul>
    </div>
    </div>

    <div class= 'bot-div'>
    <div class="box">
        <h2>Baptizados</h2>
            <ul>
                <li>Celebração de baptizados</li>
                <li>Aceitação de baptismo</li>
                <li>Seguro contra queda de bebés*</li>
                <p>* mediante custo adicional, sobre consulta</p>
            </ul>
    </div>

    <div class="box">
        <h2>Chef de Cozinha</h2>
            <ul>
                <li>Cozinha mediterrânica</li>
                <li>Saudável</li>
                <li>Apto a converter refeições para vegans/vegetarianos*</li>
                <p>*come os bocadinhos de carne e peixe do prato</p>
            </ul>
    </div>
    </div>

    
</body>
</html>